name: ios build workflows

on:
  push:
    branches: 
      - master

permissions:
  contents: read
  
jobs:
  build:
    strategy:
      matrix:
        include:
          - os: macos-15
    runs-on: ${{ matrix.os }}
    
    steps:
      - name: Checkout main repository code
        uses: actions/checkout@v4

      - name: Set TERM variable
        run: echo "TERM=xterm" >> $GITHUB_ENV
        
      - name: Set up Dependency xengine Environment
        run: |
            latest_tag=$(curl -s https://api.github.com/repos/libxengine/libxengine/releases/latest | jq -r .tag_name)
            wget https://github.com/libxengine/libxengine/releases/download/$latest_tag/XEngine_IOS_Arm64.zip
            unzip ./XEngine_IOS_Arm64.zip -d ./XEngine_IOS_Arm64
            mv XEngine_IOS_Arm64 $HOME/XEngine_IOS_Arm64

      - name: make
        run: | 
            cd XEngine_Module
            cd jsoncpp
            make PLATFORM=ios
            cd ..
            cd tinyxml2
            make PLATFORM=ios
            cd ..
            cd XEngine_InfoReport
            make PLATFORM=ios
            cd ..
            cd XEngine_Token
            make PLATFORM=ios
            cd ..
            cd XEngine_MSGNotify
            make PLATFORM=ios
            cd ..
            cd XEngine_AIApi
            make PLATFORM=ios
            cd ..
            cd XEngine_Verification
            make PLATFORM=ios
            cd ..
            cd XEngine_PluginExtension
            make PLATFORM=ios